* {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    background-color: #202022;
    color: white;
}
.header {
    display: flex;
    gap: 2rem;
}
.img {
    width: 5vmax;
    max-width: 200px;
}
a:hover {
    text-decoration: underline;
    background-color: #1c8abd22;
    transition: color 0.2s, background-color 0.2s;
    font-weight: bold;
}
a:active {
    background-color: #153cbe44;
}
.links:hover,
.linkss:hover {
    text-decoration: none;
}
.imgc {
    position: relative;
    top: 20px;
    right: 20px;
    display: block;
    margin: 0 auto;
    width: 3vmax;
    max-width: 100px;
}
.links {
    display: flex;
    position: relative;
    top: 40px;
    left: 2px;
    border: 2px solid #002D8E;
    width: 60px;
    height: 20px;
    padding: 10px;
    border-radius: 20px;
    text-decoration: none;
}
.linkss {
    display: flex;
    position: relative;
    top: 40px;
    left: 2px;
    border: 2px solid #002D8E;
    width: 20px;
    height: 20px;
    padding: 10px;
    border-radius: 20px;
    text-decoration: none;
}

.pesquisa {
    display: block;
    margin: 0 auto;
    width: 100%;
    height: 30px;
    padding: 12px;
    border-radius: 20px;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    outline: none;
    position: relative;
    top: 40px;
}
h2{
    font-size: 24px;
    margin-bottom: 20px;
    display: flex;
    text-align: left;
    justify-content: left;
    align-items: left;
    position: relative;
    top: 50px;
    left: 30px;
}
.esquerdo{
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    position: relative;
    top: 50px;
    left: 30px;
}

.texto1{
    border: 3px solid #002D8E;
    border-radius: 20px;
    font-size: 15px;
    margin-bottom: 10px;
    color: #ffffff;
    width: 500px;
    height: 230px;
}
.letras1{
    position: relative;
    top: 15px;
    left: 20px;
    width: 300px;
}
.livro{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background-color: #f9f9f9;
    width: 50px;
    height: 80px;
}
.texto2{
    border: 3px solid #002D8E;
    border-radius: 20px;
    font-size: 15px;
    margin-bottom: 10px;
    color: #ffffff;
    width: 500px;
    height: 120px;
}
.letras2{
    position: relative;
    top: 15px;
    left: 20px;
    width: 300px;
}
.texto3{
    border: 3px solid #002D8E;
    border-radius: 20px;
    font-size: 15px;
    margin-bottom: 10px;
    color: #ffffff;
    width: 500px;
    height: 50px;
    top: 20px;
    position: relative;
}
.letras3{
    position: relative;
    display: flex;
    text-align: center;
    align-items: center;
    align-items: center;
    left: 20px;
    top: 10px;
    width: 300px;
}
.textinho{
    display: flex;
    text-align: left;
    align-items: left;
    justify-content: left;
    position: relative;
    top: 50px;
    left: 20px;
    width: 600px;
}
/* parte direita */
.direito{
    display: flex;
    align-items: right;
    justify-content: right;
    text-align: left;
    position: relative;
    top: -540px;
    left: 1980px;
    width: 500px;
}
.direitot{
    display: flex;
    align-items: right;
    justify-content: right;
    text-align: right;
    position: relative;
    top: -540px;
    left: 1800px;
    width: 500px;

}
.texto2d{
    border: 3px solid #002D8E;
    border-radius: 20px;
    font-size: 15px;
    margin-bottom: 10px;
    color: #ffffff;
    width: 500px;
    height: 120px;
}
.texto3d{
    border: 3px solid #002D8E;
    border-radius: 20px;
    font-size: 15px;
    margin-bottom: 10px;
    color: #ffffff;
    width: 700px;
    height: 400px;
    position: relative;
    top: 20px;
    right: 50px;
    padding: 20px;
    background-color: #00898E;
}
.documento{
    position: relative;
    border-radius: 20px;
    width: 660px;
    height: 400px;
}
.fundo{
    display: flex;
    flex-wrap: flex-start;
    gap: 20px;
}
.bordas{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 20px;
    left: 20px;
    font-size: 1.5rem;
    color: #ffffff;
    border: 2px solid #002D8E;
    width: 200px;
    height: 40px;
    border-radius: 30px;
    padding: 10px;
}