*{
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
}

.img_perfil{
    height: 20vmin;
    width: 20vmin;
    float: left;
}
.links_cabeçalho{
text-decoration: none;    
}
nav{
text-decoration: none;  
}
nav ul{
list-style: none;
}
nav ul li{

}
a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  transition: all 0.3s ease; /* Adiciona transição suave */
}
a:hover {
  color: rgb(44, 111, 255);
  text-decoration: underline;
  background-color: #f0f0f0; /* Adiciona um fundo sutil */
  text-decoration: none;
}

a:active {
  color: rgb(43, 241, 255);
  text-decoration: underline;
  background-color: rgb(255, 255, 255); /* Fundo escuro no ativo */
  text-decoration: none;
}
