* {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    background-color: #202022;
    color: white;
}

hr {
    border: none;
    height: 3px;
    background-color: black;
    margin: 20px 0;
}

h1 {
    text-align: center;
}

h3 {
    text-align: left;
    border: 5px solid #002D8E;
    width: 165px;
    padding: 7px;
    border-radius: 20px;
    position: relative;
    left: 20px;
}

h2 {
    text-align: left;
    border: 5px solid #002D8E;
    width: 300px;
    padding: 10px;
    border-radius: 20px;
    position: relative;
    left: 20px;
}

.conteiner-principal{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 100px;
    position: relative;
    left: 60px;
}

/*      ----------------------------------    */
/* conteiner 1*/

.imagem-container {
    border: 5px solid #002D8E;
    border-radius: 20px;
    padding: 6px;
    width: 300px;
}

.imagem-container img {
    max-width: 300px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    left: 40px;
}

.imagem-container h4 {
    margin-top: 10x;
    font-size: 18x;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    left: 20x;
}

/*      ----------------------------------    */
/* conteiner 2*/

.imagem-container2 {
    border: 5px solid #002D8E;
    border-radius: 20px;
    padding: 6px;
    width: 300px;
    position: relative;
    float: right;
    left: 700px;
}

.imagem-container2 img {
    max-width: 300px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    left: 40px;
}

.imagem-container2 h4 {
    margin-top: 10x;
    font-size: 18x;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    left: 20x;
}

/*      ----------------------------------    */
/* conteiner 3*/

.imagem-container3 {
    border: 5px solid #002D8E;
    border-radius: 20px;
    padding: 6px;
    width: 300px;
}

.imagem-container3 img {
    max-width: 300px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    left: 40px;
}

.imagem-container3 h4 {
    margin-top: 10x;
    font-size: 18x;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    left: 20x;
}

/*      ----------------------------------    */
/* conteiner 4*/

.imagem-container4 {
    border: 5px solid #002D8E;
    border-radius: 20px;
    padding: 6px;
    width: 300px;
    position: relative;
    float: right;
    left: 700px;
}

.imagem-container4 img {
    max-width: 300px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    left: 40px;
}

.imagem-container4 h4 {
    margin-top: 10x;
    font-size: 18x;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    left: 20x;
}

/*      ----------------------------------    */
.img {
    width: 200px;
    padding: 10px;
    align-items: center;
}

.img_perfil {
    height: 10vmin;
    width: 10vmin;
    float: left;
}

.img_carrinho {
    height: 5vmin;
    width: 5vmin;
    position: absolute;
    top: 15px;
    right: 40px;
}

.link_home {
    text-decoration: none;
    position: absolute;
    top: 30px;
    right: 200px;
    border: 3px solid #002D8E;
    border-radius: 5px;
    color: white;
    padding: 4px;
}

.link_tres_pontinhos {
    text-decoration: none;
    position: absolute;
    top: 30px;
    right: 120px;
    border: 3px solid #002D8E;
    border-radius: 5px;
    color: white;
    padding: 6px;
}

.pesquisa {
    height: 1.7vmax;
    width: 80vmax;
    border-radius: 15px;
    position: relative;
    top: 30px;
    background-color: rgb(255, 255, 255);
    color: black;
    padding: 4px;
}

nav {
    text-decoration: none;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 30px;
}

nav ul li {}

nav ul li a {
    display: block;
}

a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    transition: all 0.3s ease;
    /* Adiciona transição suave */
}

a:hover {
    color: rgb(44, 111, 255);
    text-decoration: underline;
    background-color: #1d2e77;
    /* Adiciona um fundo sutil */
    text-decoration: none;
}

a:active {
    color: rgb(43, 241, 255);
    text-decoration: underline;
    background-color: rgb(0, 4, 255);
    /* Fundo escuro no ativo */
    text-decoration: none;
}