a:hover {
    text-decoration: underline;
    background-color: #1c8abd22;
    transition: color 0.2s, background-color 0.2s;
    font-weight: bold;
}
a:active {
    background-color: #153cbe44;
}
.header {
    display: flex;
    gap: 2rem;
}
.img {
    width: 5rem;
    max-width: 12.5rem; /* 200px */
}
.imgc {
    position: relative;
    top: 1.25rem; /* 20px */
    right: 1.25rem; /* 20px */
    display: block;
    margin: 0 auto;
    width: 3rem;
    max-width: 6.25rem; /* 100px */
}
.links {
    display: flex;
    position: relative;
    top: 2.5rem;
    left: 0.125rem;
    border: 0.125rem solid #002D8E;
    width: 3.75rem;
    height: 2.25rem;
    padding: 0.625rem;
    border-radius: 1.25rem;
    text-decoration: none;
}
.linkss {
    display: flex;
    position: relative;
    top: 2.5rem;
    left: 0.125rem;
    border: 0.125rem solid #002D8E;
    width: 2.25rem;
    height: 2.25rem;
    padding: 0.625rem;
    border-radius: 1.25rem;
    text-decoration: none;
}
.links:hover,
.linkss:hover {
    text-decoration: none;
}

.pesquisa {
    display: block;
    margin: 0 auto;
    width: 100%;
    height: 1.875rem; /* 30px */
    padding: 0.75rem; /* 12px */
    border-radius: 1.25rem; /* 20px */
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    outline: none;
    position: relative;
    top: 2.5rem; /* 40px */
}
.lancamentos{
    border: 0.3125rem solid #002D8E; /* 5px */
    border-radius: 1.875rem; /* 30px */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1.25rem; /* 20px */
    width: 75rem; /* 1200px */
    height: 31.25rem; /* 500px */
    position: relative;
    left: 68.75rem; /* 1100px */
    bottom: 31.25rem; /* 500px */
}

.sessão{
    height: max-content;
    display: flex;
    justify-content: center;
    margin: 1.25rem; /* 20px */
    gap: 6.25rem; /* 100px */
    overflow: hidden;
    position: relative;
    top: 6.25rem; /* 100px */
}

.imgms {
    border: 0.125rem solid #002D8E; /* 2px */
    background-color: #F29E9E;
    padding: 0.625rem; /* 10px */
    display: block;
    margin: 0 auto;
    width: 12rem;
    border-radius: 1.25rem; /* 20px */
    max-width: 25rem; /* 400px */
    height: 18.75rem; /* 300px */
}
.icon-arrow {
    font-size: 6.25rem; /* 100px */
    position: relative;
    top: 5rem; /* 80px */
}
aside {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    width: 12.5rem; /* 200px */
    height: 37.5rem; /* 600px */
    justify-content: flex-start;
    border: none;
    background-color: #232325;
    padding: 0.625rem 0.3125rem; /* 10px 5px */
    box-sizing: border-box;
}

aside h2, aside strong {
    color: #222;
    font-size: 1.3rem;
    font-weight: bold;
    margin-bottom: 0.625rem; /* 10px */
    letter-spacing: 0.0625rem; /* 1px */
}

aside ul, aside li {
    list-style: none;
    padding: 0;
    margin: 0;
}

aside li {
    color: #222;
    font-size: 1.1rem;
    margin-bottom: 0.125rem; /* 2px */
    font-weight: 600;
    letter-spacing: 0.03125rem; /* 0.5px */
}

aside li.subcategoria {
    color: #444;
    font-size: 0.95rem;
    font-weight: normal;
    margin-left: 0.625rem; /* 10px */
}

aside li.inativo {
    color: #444;
    font-size: 0.95rem;
    font-weight: normal;
    opacity: 0.7;
}

aside li span {
    color: #222;
    font-weight: bold;
}

aside li.subcategoria span,
aside li.inativo span {
    color: #444;
    font-weight: normal;
}

aside li:not(.subcategoria):not(.inativo) {
    font-weight: bold;
}

aside li::after {
    content: " >";
    color: #222;
    font-weight: bold;
}

aside li.inativo::after,
aside li.subcategoria::after {
    color: #444;
    font-weight: normal;
}
.livros {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 6.25rem; /* 100px */
    padding: 1.25rem; /* 20px */
    position: relative;
    bottom: 31.25rem; /* 500px */
}
.imgl{
    width: 25rem; /* 400px */
    height: 31.25rem; /* 500px */
    border: 0.125rem solid #002D8E; /* 2px */
    border-radius: 1.25rem; /* 20px */
    background-color: #F29E9E;
    padding: 0.625rem; /* 10px */
    display: block;
    margin: 0 auto;
}


.img {
    width: 5rem;
    max-width: 12.5rem;
}
.imgc {
    position: relative;
    top: 1.25rem;
    right: 1.25rem;
    display: block;
    margin: 0 auto;
    width: 3rem;
    max-width: 6.25rem;
}
.imgm {
    display: block;
    margin: 0 auto;
    width: 9rem;
    border-radius: 1.25rem;
    max-width: 25rem;
}
